@import '../../../scss/mixins', '../../../scss/colors', '../../../scss/fontFamilies';

.next-appointment{
    background-color: map-get($lightInfo,shiny);
    padding: 1% 2%;
    margin: 5px 0%;
    margin-right: .5%;
    border-radius: 4px;
    justify-content: space-evenly;
    width: 100%;


    .next-appointment-header{
        margin-bottom: 1%;
    }
    .next-appointment-date{
        text-align: center;
        font-size: 250%;
        font-weight: 600;
        margin-bottom: 1%;
    }

    .next-appointment-professional{
        text-align: center;
        margin-bottom: 1%;
    }

    .next-appointment-location{
        background-color: map-get($lightInfo,main);
        text-align: center;
        font-weight: 600;
        padding: 1%;
    }

}

@media screen and (min-width: 768px) {
    .next-appointment{
        width: 38%;
    }
}