@import '../../scss/mixins', '../../scss/colors', '../../scss/fontFamilies';

.radioBtnGContainer{
    align-items: flex-start;
    font-size: 90%;
    margin: 2% 0;


    .optionsContainer{
        width: 100%;
        justify-content: space-around;
    }
}

.field-radiobutton{
    margin: 2%;
    min-width: fit-content;
    justify-content:flex-start;
    .label{
          width: 10%; 
    }
}

.row{
    @extend .field-radiobutton;
    width: 10%;
}

.column{
    @extend .field-radiobutton;
    width: 100%;
}

.p-radiobutton{ 
    margin: 0% 10px !important;
    .p-radiobutton-box{
        background-color: map-get($lightContrastShade, 20);

        &:hover{
            border-color: map-get($lightPrimary, text) !important;
        }

        .p-radiobutton-icon{
            transform: translateZ(0) scale(0.7, 0.7);
        }
    }

    .p-radiobutton-box.p-highlight{
        background-color: map-get($lightPrimary, main); 
        border-color: map-get($lightPrimary, text);

        &:hover{
            background-color: map-get($lightContrastShade, 100) !important;
            border-color: map-get($lightPrimary, text) !important;
            .p-radiobutton-icon{
                background-color: map-get($lightPrimary, text) !important; 
            }
        }

    }

    .p-radiobutton-box.p-focus{
        border-color: map-get($lightPrimary, text) !important;
        box-shadow: 0 0 0 .2rem map-get($lightContrastShadeTranparent, 10) !important;
    }

}