@import "../../scss/colors";

.my-div-class{
    border: 1px solid map-get($lightError, text);
    border-radius: 2em;
    padding: 1em;
}

.red{
    color:map-get($lightError, text);
}

.exclutions{
    background-color: map-get($lightError, transparent20);
    border-radius: 8px;
    padding: 1em;
    
}
.TermImage{
    width:35%;height:auto;
}

.TermsContainer{
    padding: 10px;
}
.unorderedList{
    margin-left: 3%;
    *{
        margin-bottom: 1%;
    }
}

.unorderedParagraphList{
    *{
        margin-bottom: 2%;
    }
}