@import "../../../scss/colors";

.appointment-modal-container{
    
    padding-top: 2%;
    padding-bottom: 2%;
    
    .icon-clock-class{
        width:10%;
        align-items: center;
        .iconify{
            
            color: map-get($lightContrastShadeTransparent,60);   
            
        }   
    }

    .icon-class{
        width:10%;
        align-items: center;
        .iconify{
            margin-top: 30%;
            color: map-get($lightContrastShadeTransparent,60);
            
        }
    }
    

    .content{
        
        border-bottom: 1px solid map-get($lightContrastShadeTransparent, 20);
        // margin-bottom: 3%;
        width: 100%;

        .title{
            font-size: 90%;
            padding-bottom: 1%;
        }

        .description{
            font-size: 100%;
            margin-bottom: 8px;
        }

        .description-without-footer{
            font-size: 100%;
            margin-bottom: 16px;
        }

        .footer{
            font-size: 78%;
        }
    }

    .buttons-container{
        width:70%
    }

    .hour-buttons{
        width:33%;

    }
}

.grey-background{

    .content{
        border-bottom: 0px;
        margin-bottom: 0%;

        .footer{
            font-size: 78%;
            //margin: 2% 0% 0%;
        }
    }   
}

.clock-container-content{
        font-size: 90%;
        padding-bottom: 1%;
        width: 100%;
        margin-bottom: 1%;
        width: 100%;
        .description{
            font-size: 16px;
        }
}


