.phoneFieldsContainer{
    justify-content: center;
    align-items: center;

    .comboboxPhone{
        width: 30% !important;
        max-width: 120px !important;
        justify-content: center;
        height: 45px;
        .p-dropdown{
            margin:  0% !important;
        }
        /* .p-dropdown-label{
            padding-right: 0% !important;
        } */

        .p-dropdown-trigger{
            width: 2.4rem !important;

        }
        
    }

    

    .inputContainer{
        margin: 0;
    }
    
    .numberInputPhone{
        width: 100%;
        margin: 0 0 0 1%;

        input{
            margin: 0 !important;
        }
    }
}
