.phoneFieldsContainer{
    justify-content: center;

    .comboboxPhone{
        width: 30% !important;
    }

    .areaInputPhone{
        width: 30%;
    }

    .numberInputPhone{
        width: 40%;
    }
}