.phoneFieldsContainer{
    justify-content: center;
    align-items: center;
    margin: 4px 0% 8px 0% !important;
    .comboboxPhone{
        width: 30% !important;
        justify-content: center;
        height: 45px;
        .p-dropdown{
            margin:  0% !important;
        }
        /* .p-dropdown-label{
            padding-right: 0% !important;
        } */

        .p-dropdown-trigger{
            /* width: 0.5rem !important;
            .p-dropdown-trigger-icon{
                font-size: 0%;
            } */
        }
        
    }

    .areaInputPhone{
        width: 30%;
        margin: 0 1%;

        input{
            margin: 0 !important;
        }
    }

    .numberInputPhone{
        @extend.areaInputPhone;
        width: 40%;
        margin: 0;
    }
}