@import '../../../scss/mixins', '../../../scss/colors', '../../../scss/fontFamilies';

.container{
    min-height: 100vh;
}

.menu-container{
    height: 100%;
    width:fit-content;
    justify-content: space-between;

   
}

.menuBody{
    
}

.p-panelmenu-panel{
    width:100% !important;
}
.p-panelmenu .p-panelmenu-header-link{
    background: white !important;
    border: 0px !important;
    .iconify{
        color:#3CB8BA;
        font-size: 150%

    };
    box-shadow: none !important;   
    display: flex;
}

.p-panelmenu .p-panelmenu-icon {
    justify-self: flex-end;
    order:3
}

.p-panelmenu-icon::before {
    // content: "";
    // background-repeat: no-repeat;

  }

.p-menuitem-text{
    color:map-get($lightPrimary, text);
}

.buttonHeader{
    margin: 1% !important;
    padding: 0% !important;
    width: 35px !important;
    height: 35px !important;
    .iconify{
        font-size: 130%;
    }
}

.container{
    width:100%;
    height:100%
}

.header{
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 7%;
    background-color: #F3F5F7;
    .header-title{
        color: #192434;
        font-weight: 600;
    }
}

.menuOption{
    padding: 5% 0%;
    margin: 5% 5%;
    
    font-weight: 600;
}

.background-red{
    border-radius: 4px;
    background-color: #F6DBD5
}

.text-secondary{
    color:map-get($lightText, secondary);
}


.consent-medicine{
    .iconify{
        color:map-get($lightInfo, text);
    }
    margin-right: 10px;
    color:map-get($lightInfo, text);
    
}
  
.maxwidth{
    width: 100%;
}
.inside-component{
    width: 100%;
    margin: 1% 1%
}
  


