@import '../../../scss/mixins', '../../../scss/colors', '../../../scss/fontFamilies';

.options-panel{
    width:100%;
    background-color: map-get($lightPrimary,text);
    padding: 2%;
    margin: 1% 0%;
    justify-content: space-between;
    .title{
        color:map-get($lightBase,main);
        margin-bottom: 1%;
        font-weight: 600;
    }
    .option-component{
        margin-right: 2%;
    }

    .combobox,.inputdate,.radioButtonGroup{
        margin: 1%;
        
        font-size: 90% !important;
        min-width: 150px;

        .label,label{
            color: $contrast;
        }

    }

    .buttonMain{
        height: fit-content;
        margin: 1% !important;
        margin-bottom: 1.5% !important;
      
    }

    .optionsContainer{
        align-items: flex-end;
        justify-content: space-between;
    }

    .inputs{
        width: 80%;
        justify-content: space-between;
    }

    border-radius: 8px;

    .options-panel-footer{
        margin-top: 1%;
        text-align: center;
        color: map-get($lightText, heading);
    }

    .inputContainer{
        width:auto !important;
    }

}

@media screen and (max-width: 768px) {
    .options-panel{
        .combobox, .buttonMain{
            width: 100% !important;
        }
    }
}

