@import '../../../scss/mixins', '../../../scss/colors', '../../../scss/fontFamilies';

.options-panel{
    width:100%;
    background-color: map-get($lightPrimary,text);
    padding: 8px;
    margin: 1% 0%;
    justify-content: space-between;
    border-radius: 8px;
    .title{
        color:map-get($lightBase,main);
        margin-bottom: 1%;
        font-weight: 600;
    }
    .option-component{
        margin-right: 2%;
    }

    .optionsPanelHeader{
        border-bottom: 1px solid map-get($lightContrastShade, 30);
    }

    .combobox,.inputdate,.radioButtonGroup{
        margin: 1%;
        width:100%;
        font-size: 90% !important;
        min-width: 150px;

        .label,label{
            color: $contrast;
            font-weight: 400;
        }

    }

    .radioButtonGroup{
        min-width: 300px;
    }

    .buttonMain{
        height: fit-content;
        margin: 1% !important;
        margin-bottom: 1.5% !important;
      
    }

    .optionsContainer{
        align-items: flex-end;
        justify-content: space-between;
    }

    
    .buttonMain{
        width: 100% !important;
    }
   

    .options-panel-footer{
        margin-top: 1%;
        text-align: center;
        color: map-get($lightText, heading);
    }



}

@media screen and (min-width: 768px) {
    .options-panel{
        .buttonMain{
            width: 18% !important;
            margin: 1% !important;
        }

        .combobox,.inputdate,.radioButtonGroup{
    
            width:18%;
           
    
        }
    }
}

