@import'../../../scss/colors';

.profile-form-container{
    width:100%;
    height: 100%;
    padding: 1%;
    background-color: map-get($lightContrastShadeTransparent, 5);
    
    .profile-form-container-columns{
        width:100%;
        
        .first-column{
            width:100%
        }
        .column{
            width:100%;
            padding-left: 2%;
            
        }
    }
    .CRUDbuttons{
        justify-content: flex-end;
        align-items: flex-end;
        .pi{
            font-size:70% !important;
            color:map-get($lightContrastShadeTransparent,60);
        }
    }

    input,
    .p-dropdown {
        background-color: map-get($lightContrastShadeTransparent, 10) !important;
    }

    .space-between{
        justify-content: space-between;
    }

    .number-container{
        justify-content: center;
        align-items: center;
    }

    .margin-bottom-1{
        margin-bottom: 8px;
    }
}

.margin-right-rbg{
    margin-right: 20px !important;
}
