@import '../../scss/mixins', '../../scss/colors', '../../scss/fontFamilies';

.registerContainer{
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

.registerBody{
    width: 75%;
    padding: 2%;
    .googleButton{
        width: 100%;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

.registerHeader{
    justify-content: space-around;
    align-items: center;
    background-color: map-get($lightContrastShade, 10);
    min-height: 174px;
    height: 25vh;
    width: 100%;
    font-size: 70%;
    z-index: 8;
    position: sticky;
    top: 0;

    img{
        width: 50%;
        height: auto;
    }

    h1{
        font-size: 180%;
        color: map-get($lightPrimary, text);
        font-weight: 600;
    }

    .steps{
        width: 80%;
        
    }


    

    
}

.p-steps{
    font-size: 100%;
    .p-steps-item{
        color: map-get($lightText, disable) !important;
        
        

        .p-steps-title{
            margin-top: 1% !important;
        }

        .p-steps-number{
            font-size: 150% !important;
            height: 1.5rem !important;
            width: 1.5rem !important;
            min-width: 0 !important;

            background-color: map-get($lightContrastShade, 10) !important;
            color: map-get($lightText, disable);
            border: 2px solid  map-get($lightText, disable) !important;
        }
    }

    .p-steps-item::before{
        margin-top: -0.5rem;
        border-top: 2px solid map-get($lightText, disable) !important;
    }

    .p-steps-item.p-highlight:before{
        
        border-top: 2px solid map-get($lightPrimary, text) !important;
    }


    .p-steps-item.p-highlight{
        
         .p-steps-number{
            color: map-get($lightPrimary, text) !important;
            border: 2px solid  map-get($lightPrimary, text) !important;
        }

        .p-steps-title{
            color: map-get($lightPrimary, text) !important;
            font-weight: 600;
        }
    }

    .p-menuitem-link{
        background-color: map-get($lightContrastShade, 0) !important;
        border-color: map-get($lightPrimary, text);
     
        border-radius: 0px !important;
      
    }
} 

@media screen and (min-width:768px) {
    .registerContainer{
        font-size: 100%;
    }

    .registerHeader{
        height: 20vh;
        font-size: 80%;
        padding-top: 1px;
        img{
            width:30%
        }
    }

    .registerBody{
        width:50%;
    }

    .p-steps{
        font-size: 100%;

        .p-steps-item{
            .p-steps-number{
                font-size: 125% !important;
                height: 1.6rem !important;
                width: 1.6rem !important;
                min-width: 0 !important;
            }
        }
        .p-steps-item:before{
            margin-top: -0.75rem;
        }
    }
    
}

@media screen and (min-width:1280px) {
    .registerBody{
        width: 33%;
    }
    .registerHeader{
        height: 20vh;
        padding-top: 1px;
        img{
            width:20%
        }
    }

    
}