.p-panelmenu-panel{
    width:fit-content !important;
   
}
.p-panelmenu .p-panelmenu-header-link{
    background: white !important;
    border: 0px !important;
    .iconify{
        color:#3CB8BA;
    }
    box-shadow: none !important;
    
    
}

.button8{
    color:black;
}


