@import '../../scss/mixins', '../../scss/colors', '../../scss/fontFamilies';
.login {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    //height: 100%;
    width: 100%;
    background-color: map-get($lightBase, baseContrast);
  }


.logo, .logoSite{
  width: 20%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .logoSite{
    width: 7%;
    margin:0;
  }

}