@import '../../scss/mixins', '../../scss/colors', '../../scss/fontFamilies';
.login {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    //height: 100%;
    width: 100%;
    background-color: map-get($lightBase, baseContrast);
  }
  
.logoSite {
  width: 15%;
  height: auto;
  margin: 1% 0%;
}

.logo{
  width: 15%;
  height: auto;
  margin: 1% 0%;
}

@media screen and (min-width: 768px) {
  .logo{
    width: 7%;
  }
}