@import '../../scss/mixins', '../../scss/colors';

.container{
    width: 100%;
    align-items: center;
    height: 100vh;
}

.header{
    width: 100%;
    color: $contrast;
    background: map-get($lightPrimary, text);
    padding: 2%;

    h1 {
        text-align: center;
        font-weight: 600;
        font-size: 200%;
    }

    h4 {
        font-weight: 400;
        opacity: 0.7;
    }
}

.img{
    width: auto;
    height: 100px;
}

.descriptionText{
    width:100%;
}
.dniRegistered{
    text-align: left !important;
    width: 100%;
}

.bodyForm{
    width: 25%;
    padding: 2%;
    min-width: 250px;
    height:auto;
    justify-content: space-around;
    
}

.radioButtonGroup{
    justify-content: space-between;
}

.cancelButton{
    width: fit-content;
}

.saveButton{
    width: fit-content;
}



.littleMargin{
    margin: 2% 0% 5% 0%
}


