@import '../../scss/mixins', '../../scss/colors';

.containerFormForgotPass{
    width: 100%;
    align-items: center;
    height: 100vh;
    
}

.headerFormForgotPass{
    width: 100%;
    color: $contrast;
    background: map-get($lightPrimary, text);
    padding: 2%;

    h1 {
        text-align: center;
        font-weight: 600;
        font-size: 175%;
    }
}

.img{
    width: auto;
    height: 100px;
}

.descriptionText{
    width:100%;
}
.dniRegistered{
    text-align: left !important;
    width: 100%;
}

.bodyFormForgotPass{
    width: 75%;
    padding: 2%;
    height:auto;
    justify-content: space-around;
    
}

.radioButtonGroup{
    justify-content: space-between;
}

.cancelButton{
    width: fit-content;
}

.saveButton{
    width: fit-content;
}



.littleMargin{
    margin: 2% 0% 5% 0%
}

.captcha{
    align-items: center;
    
}

.caption{
    font-size: smaller;
    color: map-get($lightText, secondary);
}

.caption-invalid{
    @extend.caption;
    color: map-get($lightError, text);
    margin-bottom: 5px;
}

@media screen and (min-width:768px){
    
    .bodyFormForgotPass{
        width: 50%;
    }
}

@media screen and (min-width:1280px){
    
    .bodyFormForgotPass{
        width: 25%;
    }
}





