@mixin sizes ($width, $height) {
    width: $width ;
    height: $height;
}

@mixin marPad($mar, $pad) {
    margin: $mar;
    padding: $pad;
}

@mixin colAndBGCol($col, $BGCol){
    color: $col !important;
    background-color: $BGCol !important;
}

@mixin fonts($fami, $size, $weight) {
    font-family: $fami;
    font-size: $size ;
    font-weight: $weight;
}