@import 'mixins', 'fontFamilies', 'colors';

*{
    margin: 0;
    padding: 0;
    font-family: $primaryFont;
    font-style: normal;
    
}

body{
    background-color: $contrast;// map-get($lightBase, baseContrast);
    font-size: 100%;//75%
}

.flexible--row{
    display: flex;
    flex-direction: row;
}

.flexible--rowWrap{
    display: flex;
    flex-flow: row wrap;
}

.flexible--rowReverse{
    display: flex;
    flex-direction: row-reverse;
}

.flexible--column{
    display: flex;
    flex-direction: column;
}

.flexible--columnReverse{
    display: flex;
    flex-direction: column-reverse;
}

.flexible--columnWrap{
    display: flex;
    flex-flow: column wrap;
}

a{
    text-decoration: none;
   
}

.marginButton{
    margin: 2% !important;
}

.button{
    @extend.marginButton;
    font-size: 100% !important;
    width: fit-content;
    transition: all .5s !important;
    padding:  0.65rem 1.083rem !important; //0.35rem 0.583rem 

    &:hover{
        transform: scale(1.01, 1.01);
    }
}

.buttonMain{
    @extend.button;
    color:$contrast !important;
    background-color: map-get($lightPrimary, main) !important;
    border: 0 !important;

    &:hover{  
        background-color:  map-get($lightPrimary, text) !important;
    }

}

.buttonMain2{
    @extend.button;
    color: map-get($lightPrimary, main) !important;
    background-color: $contrast !important;
    border: 1px solid map-get($lightPrimary, main) !important;
 
    &:hover{
        color: $contrast !important;
        background-color:  map-get($lightPrimary, main)!important;
        border: 2px solid map-get($lightPrimary, main) !important;
    }

}

.buttonMain3{
    @extend.button;
    color: map-get($lightPrimary, text) !important;
    background-color: map-get($lightContrastShade, 5) !important;
    border: 0px !important;

    &:hover{
        background-color:   map-get($lightContrastShade, 20)!important;
    }
}

.inputContainer{
    width: 100%;
    font-weight: 500;
    color: #1b2b41b8;
    font-size: 100%;
    margin: 3% 0%;

    input, .p-dropdown{
        margin: 2% 0% !important;
    }
 
}


input, .p-dropdown{

    background-color: map-get($lightContrastShade, 10) !important;
    border: 0 !important;
    color: map-get($lightText, body) !important;
    font-weight: 500 !important;
    width: 100% !important;
    font-size: 100% !important;

}



.checkboxContainer{
    width: 30%;
    color: map-get($lightContrastShade, 90);
    font-weight: 400;
    justify-content: space-around;
    
}

.checkboxLabel{
    margin-left: 7px !important;
}


.p-checkbox-box{
    background-color: map-get($lightContrastShadeTranparent, 20)  !important;
    border: 0 !important;
    width: 17px !important;
    height: 17px !important;
}

.p-checkbox-checked{
    background-color: map-get($lightPrimary, main) !important;
    border-radius: 4px !important;
    width: 17px !important;
    height: 17px !important;
}



.linkContainer{
    width: 50%;
    justify-content: flex-end;

    
}

.link{
    color: map-get($lightPrimary, main);
    font-size: 100%;
    font-weight: 400;
    text-decoration: underline
}

.linkInfo{
    @extend.link;
    color: map-get($lightInfo, text);
}



.text{
    text-align: justify;
    color: map-get($lightText, secondary)
}

.textDarkItalic{
    @extend .textDark;
    font-style: italic;
}


.textDark{
    @extend.text;
    color: map-get($lightText, body);
}

.textHeading{
    @extend.text;
    color: map-get($lightText, heading);
}

.infoText{
    @extend.text;
    color: map-get($lightInfo,text);
}

.logoSite {
    width: auto;
    height: 7%;
}

.textTertiary{
    @extend.text;
    color: map-get($lightText , tertiary )

}

.p-button-icon-only{
    background-color: map-get($lightPrimary, main) !important;
    border: 0 !important;

    &:hover{
        background-color: map-get($lightPrimary, text) !important;
    }
}

.highlight{
    color:map-get($lightPrimary, main) !important;
    background: map-get($lightPrimary, transparent15 ) !important;
}

.p-calendar{
    margin: 2% 0 !important;

    .p-inputtext{
        font-size: 100% !important; //75%
        margin: 0 !important;
    }
}

.p-datepicker{
    
    
    td, th, button,span{
        font-size: 80% !important;
    }

    .p-highlight{
        @extend.highlight;
    }

    button:focus, span:focus{
        box-shadow: 0 0 0 .1rem map-get($lightPrimary, transparent50) !important; 
    }
}

.p-dropdown-items{
    .p-dropdown-item.p-highlight{
        @extend.highlight;
    }
}

.p-link{
    &:hover{
        color:map-get($lightPrimary, main) !important;
    }
}

.flex-end{
    justify-content: flex-end;
}


.p-button, .p-inputtext{
    
    &:focus{
        box-shadow: 0 0 0 .2rem map-get($lightPrimary, transparent50) !important;
    }
}

.p-dropdown-label{
    font-size: 100% !important; 
 }




.p-focus{
    box-shadow:0 0 0 .2rem map-get($lightPrimary, transparent50) !important;
}

.label{
    color: map-get($lightText, secondary);
    font-weight: 500;
    
}

.inputLabel{
    margin: 1% 0%;
}

.buttonContainer{
    margin: 3% 0%;
    justify-content: space-evenly
}

.linkReactRouter{
    @extend.marginButton;
}

/* 
    esta clase es para la contraseña invalida
*/
.p-invalid{
    .p-inputtext{
        background-color: map-get($lightError, main) !important;
        
    }
    
}
/* 
esta clase es para el input text invalido
 */
.p-inputtext.p-invalid{
    background-color: map-get($lightError, main) !important;
}

.combobox{
    margin: 2%;
}

.p-dialog-header-icon:focus{
    box-shadow: none !important;
}

.p-dropdown-trigger{
    width: 1.5rem !important;
    
}

.pi::before{
    font-size: 75%;
    display: flex;
    align-items: center;
}

/* .p-autocomplete-dd{
    .p-autocomplete-input{
        margin: 0 !important;
    }
} */

.p-password{
    .p-inputtext{
       font-size: 100% !important; //75%
    }
    
}

.p-autocomplete-dropdown{
    margin: 2% 0% !important;
}

.p-dropdown-panel{
    font-size: 75% !important;
    max-width: 500px !important;

}

.caption{
    font-size: smaller;
    color: map-get($lightText, secondary);
}

.caption-invalid{
    @extend.caption;
    color: map-get($lightError, text);
}

@media screen and (min-width:520px){
    .button{
        padding:  0.65rem 1.083rem !important; // 0.5rem 0.833rem
    }
    .buttonContainer{
        justify-content: flex-end;
    }
}

@media screen and (min-width:768px) {
    body{
        font-size: 100%;
    }

    input, .p-dropdown{
        font-size: 100% !important;
    }

    .pi::before{
        font-size: 100%;
    }

    .button{
        padding: 0.65rem 1.083rem !important;
    }

    .p-calendar{
    
        .p-inputtext{
            font-size: 100% !important;
        }
    }

    .p-dropdown-label{
        font-size: 100% !important;
    }

    
    .p-dropdown-trigger{
        width: 3rem !important;
    }

    .p-dropdown-panel{
        font-size: 100% !important;
    }

    .p-datepicker{
    
    
        td, th, button,span{
            font-size: 100% !important;
        }
    }
    
    .p-checkbox-box{
        width: 22px !important;
        height: 22px !important;
    }
    
    .p-checkbox-checked{
        width: 22px !important;
        height: 22px !important;
    }

    .p-password{
        .p-inputtext{
           font-size: 100% !important; 
        }
        
    }
}

